# ros2 build folders
build
install
log

# python virtual environment
.venv

# python cache
**/*/__pycache__

# vscode stuff
.vscode

# pycharm stuff
.idea

# pigpio stuff
pigpio-master
master.zip

# depth stuff
depth-lib*
ms5837-python-master

# voltage stuff
pi_ina226-main
voltage-lib.zip

# spidev-3.6.tar.gz
# spidev-3.6