pyserial==3.5
pynmea2==1.18.0
catkin-pkg==0.4.24
wheel==0.37.1
empy==3.3.4
lark==1.0.0
numpy==1.22.0
adafruit-circuitpython-bno055==5.3.2
black==21.12b0
fabric==2.6.0
gpiozero==1.6.2
pigpio==1.78
RPi.GPIO==0.7.0
geopy==2.2.0
adafruit-circuitpython-vl53l0x==3.6.0
adafruit-circuitpython-vl53l1x==1.0.2
